/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

&sk {
    quick-release;
    lazy;
};

/ {
    macros {
        Double_Quotes: Double_Quotes {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp DOUBLE_QUOTES &kp SPACE>, <&macro_press>;

            label = "DOUBLE_QUOTES";
        };

        Single_Quote: Single_Quote {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp SINGLE_QUOTE &kp SPACE>, <&macro_press>;

            label = "SINGLE_QUOTE";
        };

        macro_alt_tab_app: macro_alt_tab_app {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LCMD &kp GRAVE>, <&macro_press>;

            label = "MACRO_ALT_TAB_APP";
        };
    };

    combos { compatible = "zmk,combos"; };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | ESC  |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  |  ALT |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | CTRL|

            display-name = "Base";
            bindings = <
&kp TAB                &kp Q  &kp W  &kp E     &kp R  &kp T        &kp Y     &kp U  &kp I           &kp O    &kp P     &kp BACKSPACE
&mt LEFT_SHIFT ESCAPE  &kp A  &kp S  &kp D     &kp F  &kp G        &kp H     &kp J  &kp K           &kp L    &kp SEMI  &kp ENTER
&kp LCTRL              &kp Z  &kp X  &kp C     &kp V  &kp B        &kp N     &kp M  &kp COMMA       &kp DOT  &kp FSLH  &kp LALT
                                     &kp LGUI  &mo 2  &kp SPACE    &kp RALT  &mo 1  &sk LEFT_SHIFT
            >;
        };

        lower_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | CTRL|

            display-name = "Lower";
            bindings = <
&trans      &trans        &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &trans          &Double_Quotes  &kp LEFT_BRACE    &kp RIGHT_BRACE    &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &trans
&bt BT_CLR  &bt BT_SEL 0  &kp NUMBER_4  &kp N5        &kp NUMBER_6  &kp DOLLAR      &kp LEFT        &kp DOWN          &kp UP             &kp RIGHT             &kp APOSTROPHE         &kp HOME
&trans      &trans        &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp NUMBER_0    &Single_Quote   &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &trans                &trans                 &kp END
                                        &kp LGUI      &trans        &kp SPACE       &trans          &trans            &trans
            >;
        };

        raise_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // |  ESC |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | CTRL|

            display-name = "Raise";
            bindings = <
&trans  &kp EXCL  &kp AT     &kp HASH              &kp DLLR               &kp PRCNT         &kp CARET        &kp AMPS       &kp ASTERISK      &kp MINUS  &kp PLUS  &trans
&trans  &trans    &kp TILDE  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &Double_Quotes    &kp EXCLAMATION  &kp EQUAL      &kp COLON         &kp PIPE   &kp SQT   &trans
&trans  &trans    &kp GRAVE  &kp PIPE              &kp BACKSLASH          &Single_Quote     &kp UNDER        &kp LESS_THAN  &kp GREATER_THAN  &trans     &trans    &trans
                             &kp LGUI              &trans                 &kp SPACE         &trans           &trans         &trans
            >;
        };
    };
};
